* {
  margin: 0;
  padding: 0;
}

.container {
  border: indigo solid 3px;
  display: flex;
  flex-direction: column;
}

.header__container {
  border: solid 3px red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo__img {
  border: solid 2px blue;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.header__menu {
  border: solid 2px yellow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.header__menu--item {
  text-transform: uppercase;
}

.main__container {
  border: solid 2px green;
  background: #3cdbc0;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

.heder__menu--item {
  position: relative;
  box-sizing: border-box;
  display: inline;
}
